name: Docker build

on:
  push:
    branches:
      - 'master'
    paths:
      - Dockerfile.base

jobs:
  multi:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      - name: git tag
        run: git fetch --tags;  git fetch --prune --unshallow || true

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHR_TOKEN }}
          registry: ghcr.io
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.base
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ghcr.io/aldor007/mort-base:latest, ghcr.io/aldor007/mort-base:${{ github.sha }}

