name: goreleaser

on:
  workflow_run:
    workflows: ["Semantic release"]
    types:
      - completed
    branches:
      - 'master'

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  goreleaser:
    container:
      image: ghcr.io/aldor007/mort-base:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHR_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Fix git config
        run: git config --global --add safe.directory '*'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
